<html lang="@ViewBag.CurrentCultureName">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/images/favicon.ico">

    <title>Blog Template for Bootstrap</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/blog.min.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/tether.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/ie10-viewport-bug-workaround.min.js"></script>
</body>
</html>